<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deposit Money</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
      <div class="header-container">
        <img src="images/bank_logo.png" alt="Pure Bank Logo" />
        <div class="logo">
          <h1>Pure Bank</h1>
        </div>
        <nav class="main-nav">
          <ul>
            <li>
              <a href="index.html">Home</a><span class="seperator"> |</span>
            </li>
            <li>
              <a href="services.html">Services</a
              ><span class="seperator"> |</span>
            </li>
            <li>
              <a href="about.html">About Us</a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- <hr /> -->
    </header>

    <div class="container">
      <h1>Deposit Money</h1>
      {% with messages = get_flashed_messages(with_categories=True) %} {% if
      messages %}
      <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
      <form
        action="{{ url_for('deposit_money', account_id=account[0]) }}"
        method="POST"
      >
        <label for="amount">Amount to Deposit:</label>
        <input type="number" id="amount" name="amount" required />
        <button type="submit">Deposit</button>
      </form>
      <a href="{{ url_for('account', account_id=account[0]) }}" class="button"
        >Back to Account</a
      >
    </div>

    <footer>
      <div class="footer-container">
        <div class="footer-links">
          <ul>
            <li><a href="#privacy">Privacy Policy</a></li>
            <li><a href="#terms">Terms of Service</a></li>
            <li><a href="#help">Help & Support</a></li>
            <li><a href="#faq">FAQ</a></li>
          </ul>
        </div>
        <div class="contact-info">
          <p>
            Contact us at:
            <a href="mailto:yusufshakiruoluwasegun@gmail.com"
              >support@purebank.com</a
            >
          </p>
          <p>WhatsApp us: +1 212-555-0198</p>
        </div>
        <div class="social-media">
          <a href="#">Facebook</a>
          <a href="#">Twitter</a>
          <a href="#">LinkedIn</a>
        </div>
        <div class="copyright">
          <p>&copy; 2024 Pure Bank. All rights reserved.</p>
        </div>
      </div>
    </footer>
  </body>
</html>
